<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.litman.fist.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="cn.litman.fist.entity.Customer">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="sale_name" jdbcType="VARCHAR" property="saleName" />
    <result column="area" jdbcType="TINYINT" property="area" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="is_signed" jdbcType="TINYINT" property="isSigned" />
    <result column="company_detail" jdbcType="VARCHAR" property="companyDetail" />
    <result column="butt_type" jdbcType="VARCHAR" property="buttType" />
    <result column="butt_progress" jdbcType="TINYINT" property="buttProgress" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <!--  添加客户信息-->
  <insert id="insertCustomer" parameterType="cn.litman.fist.entity.Customer">
    INSERT INTO customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyName != null">
        company_name,
      </if>
      <if test="saleName != null">
        sale_name,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="isSigned != null">
        is_signed,
      </if>
      <if test="companyDetail != null">
        company_detail,
      </if>
      <if test="buttType != null">
        butt_type,
      </if>
      <if test="buttProgress != null">
        butt_progress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="saleName != null">
        #{saleName,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=TINYINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="isSigned != null">
        #{isSigned,jdbcType=TINYINT},
      </if>
      <if test="companyDetail != null">
        #{companyDetail,jdbcType=VARCHAR},
      </if>
      <if test="buttType != null">
        #{buttType,jdbcType=VARCHAR},
      </if>
      <if test="buttProgress != null">
        #{buttProgress,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <!--  查询客户列表-->
  <select id="listCustomer" resultMap="BaseResultMap">
    SELECT *
    FROM customer
    WHERE 1=1
    <if test="id != null and id != ''">
      AND id = #{id,jdbcType=INTEGER}),
    </if>
    <if test="area != null and area != ''">
      AND area = #{area,jdbcType=INTEGER}),
    </if>
    <if test="level != null and level != ''">
      AND level = #{level,jdbcType=INTEGER}),
    </if>
    <if test="companyName != null and companyName != ''">
      AND company_name LIKE CONCAT(CONCAT('%', #{companyName,jdbcType=VARCHAR}), '%')
    </if>
    <if test="saleName != null and saleName != ''">
      AND sale_name LIKE CONCAT(CONCAT('%', #{saleName,jdbcType=VARCHAR}), '%')
    </if>
  </select>
  <!--  修改客户信息-->
  <update id="updateCustomer">
    UPDATE customer
    SET
    <trim suffixOverrides=",">
      <if test="companyName != null and companyName != ''">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="saleName != null and saleName != ''">
        sale_name = #{saleName,jdbcType=VARCHAR},
      </if>
      <if test="area != null and area != ''">
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="level != null and level != ''">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="isSigned != null and isSigned != ''">
        is_signed = #{isSigned,jdbcType=INTEGER},
      </if>
      <if test="companyDetail != null and companyDetail != ''">
        company_detail = #{companyDetail,jdbcType=VARCHAR},
      </if>
      <if test="buttType != null and buttType != ''">
        butt_type = #{buttType,jdbcType=VARCHAR},
      </if>
      <if test="buttProgress != null and buttProgress != ''">
        butt_progress = #{buttProgress,jdbcType=INTEGER},
      </if>
    </trim>
  </update>
</mapper>